<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Section_15_Part_2___Linq_to_SQL.Properties.Settings.CSharpMasterclassDBConnectionString"
            connectionString="Data Source=LAPTOP-LG6PN2GE\JAMESMSSQLSERVER;Initial Catalog=CSharpMasterclassDB;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>